[submodule "themes/resume"]
	path = themes/resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/resume-ohanedan"]
	path = themes/resume-ohanedan
	url = https://github.com/ohanedan/hugo-resume.git
